[submodule "app-plugin-api"]
	path = app-plugin-api
	url = https://github.com/Innovative-CST/blockidle-plugin-api
[submodule "plugin-builder"]
	path = plugin-builder
	url = https://github.com/Innovative-CST/plugin-builder
